@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    --color-primary: #10eea8;
    --color-danger: #dd1111;
    --color-success: #17d2d5;
    --color-warning: #e8d720;
    --color-info-dark: #7d8da1;
  background-color: #1d353a;;
    --color-background: #dee0e0e0;
    --card-bg-light: #fff;
    --card-bg-dark: #0e1b1d;
    --color-dark-variant: #677483;
    --color-light: rgba(54, 221, 180, 0.244);
    --box-shadow: 0 2rem 3rem var(--color-light);
    --form-border: #95aca7;
    --placeholder-color: #919aa3;
    --text: #000;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

   
  }

  h1{
    color: white;
  }
  p{
    color: white;
  }
  .calculadora{
    background-color: var(--card-bg-light);
    margin-top: 3.5rem;
    box-shadow: 0 0px 5px 0px #354b50bd;
    border-radius: var(--card-border-radius);
    transition: all 0.3s ease;
    padding: 20px;
    height: 70vh;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .dark-mode-variables {
    --color-background: #1d353a;
    --card-bg-light: #0e1b1d;
    --card-bg-dark: #fff;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(52, 149, 135, 0.239);
    --box-shadow: 0 2rem 3rem var(--color-light);
    --form-border: #677673;
    --placeholder-color: #cbd0d4;
    --text: #fff;
}
 
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #resultado {
    margin-top: 20px;
  }
  